.workout1>div{

    background-color: blueviolet;
    height: 300px;
    width:800px;

}
.workout1>div:nth-child(2){
    background-color: cadetblue;
    height: 200px;
    width:700px;
    position: absolute;
    top:55px;
    left:50px;
  
    
}
.img1{
    height:200px;
    width:300px;
    position:absolute;
   left:400px;
   top:0px;
}

.para1{
    color:white;
    position: absolute;
    right:400px;
    text-transform: capitalize;
}
.para2{
    color:white;
    position: absolute;
    right:300px;
    text-transform: capitalize;
}

.list1,li{

    display:inline;
    margin:80px;
    position:relative;
    top:50px;
   
}
.list2,li{

    margin:20px;
    position: relative;
  top: 40px;
  margin:20px;
}

.section2>div{

    background-color:blue;
    height:600px;
    width:400px


}
.section2>div:nth-child(2){

    background-color: cadetblue;
    width:300px;
    height:520px;
    position:absolute;
   left:50px;
   top:400px;
}

.img2{

    height:200px;
    weight:300px;
}

.para3{

    margin-left:20px;
    font-size: 20px;
    text-transform: capitalize;
    position: absolute;
    top:180px;
}

.para4{

    text-align: center;
    text-transform: capitalize;
    position: absolute;
    top:210px;
}
.list3,.li1{
    display:block;
    margin:4px;
    position: relative;
    top:60px;
    left:25px;
}



